body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.sidebar {
  width: 250px;
  background-color: #007bff;
  height: 100vh;
  position: fixed;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.sidebar a.profile-picture {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.sidebar img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  transition: width 0.3s, height 0.3s;
}

.sidebar.collapsed img {
  width: 40px;
  height: 40px;
}

.sidebar h2 {
  text-align: center;
  margin: 10px 0;
  transition: opacity 0.3s;
}

.sidebar.collapsed h2 {
  opacity: 0;
}

.sidebar .edit {
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s;
}

.sidebar.collapsed .edit {
  opacity: 0;
}

.sidebar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bold;
  transition: padding 0.3s;
}

.sidebar.collapsed a {
  padding: 10px;
}

.sidebar a i {
  margin-bottom: 5px;
  font-size: 24px;
  transition: margin-bottom 0.3s;
}

.sidebar.collapsed a i {
  margin-bottom: 0;
}

.sidebar a:hover {
  background-color: #0056b3;
}

.sidebar .logout-button {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto auto 20px auto;
  font-weight: 900;
}

.sidebar .logout-button i {
  margin-right: 5px;
  color: black;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: black;
  border-bottom: 1px solid #f0f0f0;
}

.header .logo h1 {
  margin: 0;
}

.header .logo h1 span.team {
  color: #007bff;
}

.header .logo h1 span.study {
  color: #ffcc00;
}

.header .search-bar {
  display: flex;
  align-items: center;
}

.header .search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ffffff;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons i {
  margin-left: 20px;
  font-size: 20px;
  color: #007bff;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.courses-container {
  display: flex;
  gap: 20px;
}

.courses-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.course-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.course-item h3 {
  margin: 0;
  font-size: 18px;
  flex-grow: 1;
}

.course-item .buttons {
  display: flex;
  gap: 10px;
}

.course-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.course-item .edit-course-btn {
  background-color: #4CAF50;
  color: white;
}

.course-item .edit-course-btn:hover {
  background-color: #45a049;
}

.course-item .delete-course-btn {
  background-color: #f44336;
  color: white;
}

.course-item .delete-course-btn:hover {
  background-color: #e53935;
}

.course-details {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.course-details img {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.course-details h2 {
  margin-top: 20px;
  font-size: 24px;
}

.course-details p {
  margin: 10px 0;
  font-size: 16px;
}

.add-course {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-course button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-course button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #0072ce;
  color: white;
  padding: 20px 0;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .footer-content .brand {
  text-align: left;
  margin-left: 0;
}

.footer .footer-content .support-follow {
  display: flex;
  gap: 50px;
}

.footer .footer-content div ul {
  list-style: none;
  padding: 0;
}

.footer .footer-content div ul li {
  margin-bottom: 5px;
}

.footer .footer-content div ul li a {
  color: white;
  text-decoration: none;
}

.footer .footer-content div ul li a:hover {
  text-decoration: underline;
}

.footer .footer-content .social-icons {
  display: flex;
  gap: 10px;
}

.footer .footer-content .social-icons a {
  color: white;
  font-size: 20px;
}

.footer .footer-content .brand h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.footer .footer-content .brand p {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-50px);
  animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-top: 10px;
}

.modal-content form input,
.modal-content form select,
.modal-content form button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  font-size: 14px;
  align-self: flex-start;
}

.modal-content form button:hover {
  background-color: #45a049;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #0056b3;
}