* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  background-color: #007bff;
  height: 100vh;
  position: fixed;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar a.profile-picture {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.sidebar img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
}

.sidebar h2 {
  text-align: center;
  margin: 10px 0;
}

.sidebar .edit {
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bold;
}

.sidebar a i {
  margin-bottom: 5px;
  font-size: 24px;
}

.sidebar a:hover {
  background-color: #0056b3;
  color: white;
}

.sidebar .logout-button {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-weight: 900;
  cursor: pointer;
}

.sidebar .logout-button i {
  margin-right: 5px;
  color: black;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: black;
  border-bottom: 1px solid #f0f0f0;
}

.header .logo h1 {
  margin: 0;
}

.header .logo h1 span.team {
  color: #007bff;
}

.header .logo h1 span.study {
  color: #ffcc00;
}

.header .search-bar {
  display: flex;
  align-items: center;
}

.header .search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ffffff;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons i {
  margin-left: 20px;
  font-size: 20px;
  color: #007bff;
}

.dashboard {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard .welcome {
  background-image: url('./assets/amarelo.png');
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  height: 300px;
}

.dashboard .welcome img {
  width: 320px;
  height: 360px;
}

.dashboard .welcome h2 {
  font-weight: 900;
}

.dashboard .welcome p {
  font-weight: 500;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.progress .card {
  background-image: url('./assets/azul.png');
  background-size: cover;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  height: 80px;
  text-align: center;
  margin: 10px;
  position: relative;
}

.progress .card img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.progress .card h3 {
  color: black;
  font-size: 50px;
  margin: 0;
}

.progress .card p {
  color: black;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}

.history {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.history .card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  max-width: 350px;
}

.history .card h3 {
  margin-top: 0;
}

.history .card .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.history .card .item:last-child {
  border-bottom: none;
}

.history .card .item img {
  width: 40px;
  height: 40px;
}

.history .card .item .details {
  flex-grow: 1;
  margin-left: 10px;
}

.history .card .item .details h4 {
  margin: 0;
}

.history .card .item .details p {
  margin: 0;
  color: gray;
}

.history .card .item .time {
  color: gray;
}

.history .card .progress-bar {
  height: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-top: 10px;
}

.history .card .progress-bar .progress {
  height: 100%;
  border-radius: 5px;
}

.history .card .progress-bar .progress.green {
  background-color: green;
}

.history .card .progress-bar .progress.yellow {
  background-color: yellow;
}

.history .card .progress-bar .progress.black {
  background-color: red;
}

.footer {
  background-color: #0072ce;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .footer-content .brand {
  text-align: left;
  margin-left: 0;
}

.footer .footer-content .support-follow {
  display: flex;
  gap: 50px;
}

.footer .footer-content div ul {
  list-style: none;
  padding: 0;
}

.footer .footer-content div ul li {
  margin-bottom: 5px;
}

.footer .footer-content div ul li a {
  color: white;
  text-decoration: none;
}

.footer .footer-content div ul li a:hover {
  text-decoration: underline;
}

.footer .footer-content .social-icons {
  display: flex;
  gap: 10px;
}

.footer .footer-content .social-icons a {
  color: white;
  font-size: 20px;
}

.footer .footer-content .brand h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.footer .footer-content .brand p {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}